<div class="row">
    <div class="col s12 m12 l12">
        <h2>about</h2>
        <div class="story">
            <div class="card-content">
                <h3>
                    Share your stories with others and enjoy reading public stories.
                    If you wish you can save your private stories too.
                </h3>
            </div>
        </div>
    </div>
</div>